/* ==========
   Overview 
========== */

.overview {
    margin-top: 3rem;

    &__stats {
        background-color: var(--light-grayish-blue);
        border-radius: .5rem;
        padding: 1.5rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        row-gap: 1.25rem;
        margin-top: 1.5rem;

        max-height: 125px;

        cursor: pointer;


        
        &__icon {
            margin-left: auto;
            align-self: center;
        }
        
        &__percentage {            
            margin-left: auto;
            position: relative;

        }

        &__percentage.up::before {
            content: url(../images/icon-up.svg);
            height: 100%;
            width: 100%;
    
            position: absolute;
            top: -10%;
            right: 50%;
        } 
    
        &__percentage.down::before {
            content: url(../images/icon-down.svg);
            height: 100%;
            width: 100%;
            position: absolute;
            top: -10%;
            right: 50%;
        } 
    }

    &__stats:hover {
        background-color: #e1e3f0;
    }
}

            
@media (min-width: 600px) {
    .overview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin-top: 2rem;

        &__stats {
            margin: 0;
            min-width: 255px;
        }

        &__title {
            grid-column: span 2;
        }
    }
}

@media (min-width: 1150px) {
    .overview {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        &__title {
            grid-column: span 4;
        }
    }
}