/* ==========
    Header 
========== */

.header {

    // padding: 2rem 1.5rem;

    &__flex {
        border-top: 1px solid #373a4d;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
    }
}

@media (min-width: 600px) {
    .header {

        display: grid;
        grid-template-columns: 1fr 1fr;

        &__title {
            width: 18ch;
        }

        &__flex {
            border-top: none;
            justify-content: flex-end;
            margin: 0;
            padding: 0;

            .header__dm {
                margin-right: 1rem;
            }
        }
    }

}