/* ==========
    Header 
========== */

.header {

    // padding: 2rem 1.5rem;

    &__flex {
        border-top: 1px solid #373a4d;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
    }
}